Django==4.2
django-crispy-forms==2.0
django-filter==23.1
django-seed==0.3.1
djangorestframework==3.14.0
drf-yasg==1.21.5
Faker==18.6.0
idna==3.4
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==23.1
Pillow==9.5.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.29.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
six==1.16.0
sqlparse==0.4.3
toposort==1.10
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.15
